<div class="service-detail-page">
  <h2>Chequeo y Prevención</h2>
  <p>En nuestra clínica, la prevención es clave para la salud de tu mascota. Ofrecemos chequeos regulares, planes de vacunación personalizados y asesoramiento preventivo para asegurar una vida larga y feliz.</p>
  <ul>
    <li>Exámenes físicos exhaustivos</li>
    <li>Calendario de vacunación adaptado</li>
    <li>Programas de desparasitación</li>
    <li>Asesoramiento sobre nutrición y peso ideal</li>
    <li>Detección temprana de patologías</li>
  </ul>
  <button class="back-button" (click)="goBackToServices()">Volver a Servicios</button>
</div>